
.article-model,
.article-maintenance,
.article-event {
	position: relative;
	padding-top: rem(48px);
	padding-bottom: rem(72px);

	@include from(m) {
		padding-bottom: rem(96px);
	}
}

.group-left__description,
.group-right__description {
	@include showFrom(m);
}

.border {

	&-section,
	&-header-top {
		border-bottom: 1px solid var(--border-color);
	}

	&-header-bottom {
		border-top: 1px solid var(--border-color);
	}

	@include from(m) {
		&::before {
			content: "";
			position: absolute;
			height: 90%;
			width: 1px;
			background: var(--border-color);
			top: 16px;
			left: 50%;
		}

	}
}

