
// Button para tema claro y oscuro

.container-theme {
	width: 66px;
	height: 42px;
}

// Tema claro
.label-theme {
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: em(5px);
	position: relative;
	height: 26px;
	width: 50px;
	background: var(--bg-section-icon-light);

	// Tema oscuro
	&.dark {
		background: var(--bg-section-icon-dark);
	}
	// Tema claro
	// Posicionamiento del circulo respecto al label
	& .ball {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		height: 22px;
		width: 22px;
		transform: translateX(-3px);
		transition: transform 0.2s linear;
		background: var(--bg-icon-light);
		border: 1px solid var(--bg-section-icon-light);
		// Tema oscuro
		&.dark {
			background: var(--bg-icon-dark);
			border: 1px solid var(--bg-section-icon-dark);
			transform: translateX(21px);
		}
	}

}

// Botón primario, secundario y fantasma(sin Bg)

.button {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	width: max-content;
	line-height: inherit;
	font-family: #{map-get($type-font, secondary-font)};
	border-radius: var(--border-radius);
	transition: transform .05s;
	color: #{map-get($dark-color, title)};
	padding: rem(8px) rem(16px);
	border: none;

	&-primary {
		background: var(--primary-color);
		font-size:  em(map-get($mobile-fz, content ));

		@include from(m) {
			font-size:  em(map-get($web-fz, content ));
		}
	}

	&-secondary,
	&-ghost {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background: var(--primary-color);
		font-size:  em(map-get($mobile-fz, normal ));

		@include from(m) {
			font-size:  em(map-get($web-fz, normal ));
		}
	}

	&-ghost {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #{map-get($dark-color, title)};
		background: transparent;
	}

	&:hover {
		background: var(--primary-alt-color);
	}
}

