.button {
	padding: em(4px) em(8px);
	background: button-color(secondary);
	font-size:  mobile-fz(content);
	// border-radius: em(4px);

	&:hover {
		background: button-color(secondary-hover);
	}
}

.s-red {
	&:hover {
		color: green;
	}
}

