
.container-icon {
	display: inline-flex;
	cursor: pointer;
	// Contenedor para el icono de carrito con productos
	&-shopnav {
		display: inline-flex;
		cursor: pointer;
		position: relative;
		max-width: 36px;
		width: 36px;
		height: 36px;

		&:hover > .container__svg,
		&.active > .container__svg {
			color: var(--primary-color);
		}

		&:hover > .circle__icon,
		&.active > .circle__icon {
			color: #{map-get($dark-color, title )};
			background: var(--primary-color);
		}

	}
	// Contenedor para el icono de eliminar
	&-delete {
		width: 32px;
		height: 32px;
		display: inline-flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		background: var(--error-200);
		border: 1px solid var(--title-color);
		border-radius: var(--border-radius);

		&:hover {
			background-color: var(--error-400);
		}
	}

	&.active {
		color: var(--primary-color);
	}
}

.icon {
	color: var(--content-color);
	width: 62px;

	&.active {
		color: var(--secondary-color);
	}

	&:hover{
		color: var(--primary-color);
	}
	// Icono para logo
	&-logo {
		width: 61px;
		height: 44px;
		// Icono para logo en tamaños > 768px(lg)
		@include from(m) {
			width: 75px;
			height: 54px;
		}
	}
	// Icono que estan en botones secundarios y ghost
	&-static {
		width: 16px;
		// Icono para botones(secundario y ghost) en tamaños > 768px(lg)
		@include from(m) {
			width: 18px;
		}
	}
	// Icono de check para contenido
	&-special-content {
		cursor: auto;
		width: 16px;
		color: var(--content-color);
	}
	// Icono de eliminar
	&-special-title {
		width: 18px;
		color: var(--title-color);
	}
}

// Contenedor solo para el carrito en shopnav
.container__svg {
	display: flex;
	position: absolute;
	bottom: 0;
	color: var(--content-color);
}

// Elipse para el producto en shopnav
.circle__icon {
	position: absolute;
	top: 0;
	left: percentage(12/36);
	font-size: em(map-get($mobile-fz, smaller ));
	margin: 0;
	border-radius: 9999px;
	min-width: 24px;
	height: 24px;
	padding: rem(4px) rem(8px);
	display: inline-block;
	text-align: center;
	line-height: 1.3;
	background: var(--content-color);
	color: var(--bg-container);
}