
.main-footer {
	background: var(--bg-container);
	height: var(--header-height-mobile);
	position: fixed;
	z-index: var(--z-fixed);
	width: 100%;
	bottom: 0;
	overflow: hidden;

	@include hideFrom(m)
}

.footer-icon {

	&.active {
		background: var(--primary-color);
		border-left: 1px solid var(--border-color);
		border-right: 1px solid var(--border-color);
	}

	&.active > .icon{
		color: #{map-get($dark-color, title)};
	}

	&:hover {
		cursor: pointer;
		background: var(--primary-color);
	}

	&:hover .icon {
		color: #{map-get($dark-color, title)};
	}
}