// CSS Variables
:root {
  // Variables para prototipar
  --color                  : #007BDF;          // Color base (azul EDteam)
  --color-alt              : #006DC6;          // Color alterno (azul EDteam alterno)
  --border-color           : #DFE0E0;          // Color para bordes (gris suave)
  --light-bg               : #F0F0F0;          // Color gris para fondos
  --border-radius          : #{$l-unit * 0.5}; // .25rem
  // layout
  --vertical-block-space   : #{$l-unit * 2};   // 1rem
  --vertical-content-space : #{$l-unit * 2};   // 1rem
  --gap                    : #{$l-unit * 2};   // 1rem
  --max-width              : #{$max-width};

  @include from(lg) {
    --vertical-block-space : #{$l-unit * 4};
    --gap                  : #{$l-unit * 4};    // 2rem
  }
};


@include prototype('blanco', color, #fff);
@include prototype('red', color, yellow);
@include prototype('cursor', background, green);
